<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="homebanner" frontName="homebanner">
            <module name="Digital_Homebanner" />
        </route>
    </router>
</config>