<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your enquiry at "}}{{config path="general/store_information/name"}} @-->
<!--@vars {
"var comment":"Comment",
"var email":"Customer Email",
"var name":"Customer Name",
"var subject":"Subject"
} @-->
{{template config_path="design/email/header_template"}}  
  <table cellpadding="0" cellspacing="0" border="0" class="contact_form_detail" style="width:100%">
	 <tr>
		<td>
		<p class="name">Hello {{var data.name}},</p>
		<p>{{trans "Thank you for your enquiry at %store_name. A member of our team will be in touch shortly." store_name=$store.getFrontendName()}}</p>
		<p>{{trans "If you wish to contact us directly, you can reach us at "}}<a href='tel:{{config path="general/store_information/phone"}}'>{{config path="general/store_information/phone"}}</a>.</p>	
		</td>
	 </tr>
    <tr><td><h3 class="title mt-20" style="text-align:center;">{{trans "The details of your enquiry are below:"}}</h3></td></tr>
    <tr>
        <td>
			<table class="inq-table" border="1" style="width:100%" cellpadding="10" cellspacing="10">				
				{{if data.name}}
				<tr>
					<td style="width:60px;"><b>Name</b></td>
					<td style="width:250px;">{{trans " %name" name=$data.name}}</td>
				</tr>
				{{/if}}

				{{if data.company}}
				<tr>
					<td style="width:60px;"><b>Company</b></td>
					<td style="width:250px;">{{trans " %company" company=$data.company}}</td>
				</tr>
				{{/if}}

				{{if data.contact}}
				<tr>
					<td style="width:60px;"><b>Contact No.</b></td>
					<td style="width:250px;">{{trans " %contact" contact=$data.contact}}</td>
				</tr>
				{{/if}}

				{{if data.email}}
				<tr>
					<td style="width:60px;"><b>Email</b></td>
					<td style="width:250px;">{{trans " %email" email=$data.email}}</td>
				</tr>
				{{/if}}

				{{if data.message}}
				<tr>
					<td style="width:60px;"><b>Message</b></td>
					<td style="width:250px;">{{trans " %message" message=$data.message}}</td>
				</tr>
				{{/if}}
			</table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
