<?xml version="1.0"?> 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
<system> 
    <tab id="digital" translate="label" sortOrder="10" class="digital-tab">
        <label>23 Digital Settings</label>
    </tab> 
    <section id="productenquiry" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Product Enquiry</label>
        <tab>digital</tab>
        <!-- resource tag name which we have to defined in the acl.xml -->
        <resource>Digital_Productenquiry::config_banner</resource>
        <group id="view" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General Options</label>
            <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Product Enquiry</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field> 

             <field id="recipient_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Send Emails To</label>
                     <validate>validate-email</validate>
                 </field>
            <field id="email_template" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                      <label>Email Template</label>
                      <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                      <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                 </field>
            <field id="admin_email" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                      <label>Admin Email Template</label> 
                      <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                      <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                 </field>   

                   <!--<field id="captcha_enable" translate="label" type="select" sortOrder="1112" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Google Captcha</label>
                  <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                  </field> -->
 

                   <!--field id="google_captcha" translate="label comment" sortOrder="1113" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Captcha Key</label> 
                <validate>required-entry</validate> 
                <depends>
                    <field id="productenquiry/view/captcha_enable">1</field>
                </depends> 
                </field-->        
        </group>         
    </section>

   
</system>
</config>